.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 64px;
  border-bottom: 0.5px solid rgb(206, 205, 205);
}
.icons {
  display: flex;
  gap: 8px;
}
.icon {
  font-size: 24px;
  cursor: pointer;
}
.icon:hover {
  color: blue;
}
