@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.details-main {
  display: flex;
  padding: 16px 64px;
  gap: 100px;

  .details-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  p {
    color: red;
  }
}

.news {
  display: grid;
  padding: 16px 64px;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}

.newscard {
  padding: 16px;
  border: 0.7px solid rgb(228, 225, 225);
}

.news-image {
  height: 400px;
  width: 400px;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
