@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";
* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.details-main {
  display: flex;
  padding: 16px 64px;
  gap: 100px;

  .details-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  p {
    color: red;
  }
}

.news {
  display: grid;
  padding: 16px 64px;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}

.newscard {
  padding: 16px;
  border: 0.7px solid rgb(228, 225, 225);
}

.news-image {
  height: 400px;
  width: 400px;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.loginsignup {
  width: 100%;
  height: 100vh;
  background: #fce3fe;
  padding-top: 70px;
}

.loginsignup-container {
  width: 580px;
  height: 600px;
  background: white;
  margin: auto;
  padding: 40px 60px;
}

.loginsignup-container h1 {
  margin: 20px 0px;
}

.loginsignup-feilds {
  display: flex;
  flex-direction: column;
  gap: 29px;
  margin-top: 30px;
}

.loginsignup-feilds input {
  height: 60px;
  width: 100%;
  padding-left: 20px;
  border: 1px solid #c9c9c9;
  outline: none;
  color: #5c5c5c;
  font-size: 18px;
}

.loginsignup-container button {
  width: 450px;
  height: 60px;
  color: white;
  background: red;
  margin-top: 30px;
  border: none;
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
}

.loginsignup-login {
  margin-top: 20px;
  color: #5c5c5c;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.loginsignup-login span {
  color: red;
  font-weight: 600;
  cursor: pointer;
}

.loginsignup-agree {
  display: flex;
  align-items: center;
  margin-top: 20px;
  gap: 20px;
  color: #5c5c5c;
  font-size: 15px;
  font-weight: 500;
}
